<h1 class="display-1 text-center"><%= @recipe.name %></h1>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light display-6">Preparation time: <%= @recipe.preparation_time %> minutes</div>
    </div>
    <div class="col">
      <div class="p-3 ps-auto">
        <div class="form-check form-switch">
          <% if @recipe.public %>
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled checked >
          <% else %>
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled >
          <% end %>
          <label class="form-check-label" for="flexSwitchCheckDisabled">Public</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="col">
      <div class="my-3 p-3 border bg-light display-6">Cooking time: <%= @recipe.cooking_time %> minutes</div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="col">
      <div class="my-3 p-3 border bg-light display-8">Description: <%= @recipe.description %> minutes</div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<% if can? manage: @recipe  %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add ingredient
</button>
<% end %>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add ingredient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(@recipe_food,
                   :url => user_recipe_recipe_foods_path(recipe_id: @recipe.id),
                   :layout => :horizontal,
                   :label_col => "col-md-3",
                   :control_col => "col-md-4") do |f| %>
          <%= f.select :food, @food_choices , { label: "Choose your favorite fruit:", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>
          <%= f.number_field :quantity,  placeholder: 'Quantity' %>
          <%= f.submit "Add" %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'list', foods: @foods%>
